.badeen-display-regular {
    font-family: "Badeen Display", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 70px;
  }
  
  .stranica1-glavnoe{
    display: flex;
    gap: 48px; 
  }

  .stranica1txt{
    display: flex;
    flex-direction: column;
    gap: 40px; 
  }

  .buttone{
    width: 187px;
    height: 56px;
    border: 4px;
    top: 8px;
    right: 32px;
    bottom: 8px;
    left: 32px;
    gap: 10px;
    background-color: #FD665E;
    color: white;
  }

  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }

  
  .stranica2Glavnoe{
   
      display: flex;
      justify-content: space-between;
      align-items: end;
 
 
     
  }

  .title-color {
    color: #FD665E;
  }

  .odin {
    display: flex;
    flex-direction: column;
    gap: 65px;
    padding: 65px 0;
  }

  .WQ{
    color: orange;
  }

  .buttonsss{
    display: flex;
    gap: 4px;
   
    margin-bottom: 8px;
    font-size: 35px;

  }
.stranica22Glavnoe{
  display: flex;
  
  gap: 40px;
}

.stranica3-glavnoe{
  display: flex;
  gap: 48px; 
  
}

/* Media queries */
/* Tablets */
@media (max-width: 980px) {
    .stranica1-glavnoe {
    flex-direction: column;
  }
  
}

/* Mobile */
@media (max-width: 580px) {
  .badeen-display-regular {
     font-size: 45px;
  }
}