
body {
  background-image: url(https://st4.depositphotos.com/4196725/20933/i/450/depositphotos_209336304-stock-photo-abstract-pixel-background-seamless-pattern.jpg);
}

.qw {
  color: rgb(244, 248, 245);
}  
.ww {
  color: rgb(52, 250, 102);
}  
#main {
   border-radius: 15px;
  padding: 50px 30px;
  color: darkred;
}